.age {
  display: block;
  background-image: url("../images/age-background.png");
  // background-image: url("../images/VectorSmartObject.svg");
  background-size: cover;
  height: 500px;
  color: white;
  text-align: center;
  // position: relative;

  &__heading {
    font-size: 40px;
    padding-top: 100px;
  }

  &__text {
    padding-top: 50px;
  }

  &__photo {
    height: auto;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .age {
    // padding: 10px 200px;

    &__heading {
      padding: 100px 20px;
      font-size: 32px;
      padding-bottom: 30px;
    }

    &__text {
      padding: 20px 20px;
      text-align: justify;
    }
  }
}
