.menu {
  text-align: right;
}

.menu__item {
  display: inline-block;
  color: $text-color;
  font-size: 16px;
  line-height: 30px;
  padding: 0 10px;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;

  &::after {
    display: block;
    position: absolute;
    top: 40px;
    left: 10px;
    width: 0;
    height: 1px;
    background-color: $white-color;
    content: "";
    transition: width 0.5s ease-out;
  }

  &:hover::after {
    width: calc(100% - 2 * #{10px});
  }
}

.menu__item:hover {
  color: $white-color;
}

.menu__icon {
  display: none;
  width: 45px;
  height: 30px;
  position: relative;
  cursor: pointer;
}

.menu__icon span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: $text-color;
  border-radius: 9px;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.menu__icon span:nth-child(1) {
  top: 0;
}

.menu__icon span:nth-child(2),
.menu__icon span:nth-child(3) {
  top: 13px;
}

.menu__icon span:nth-child(4) {
  top: 26px;
}

@media screen and(max-width: $ipad-screen-breakpoint) {
  .menu__icon {
    display: inline-block;
  }
  .links {
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 52px;
    background-color: $black-color;
    z-index: 2;
    overflow: auto;
    opacity: 0;
  }

  .menu__item {
    display: block;
    padding: 10px 0;
    text-align: center;
    color: $white-color;
    transition: color 0.5s ease-out;

    &:hover {
      color: $text-color;
    }

    &::after {
      display: none;
    }
  }

  .menu-open {
    .links {
      margin-top: 110px;
      height: calc(100% - 110px);
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .menu__item {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30%;
        padding: 10px;
        background-color: $main-background-color;
      }
    }
  }

  .menu.menu-open .menu__icon span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

  .menu.menu-open .menu__icon span:nth-child(2) {
    transform: rotate(45deg);
  }

  .menu.menu-open .menu__icon span:nth-child(3) {
    transform: rotate(-45deg);
  }

  .menu.menu-open .menu__icon span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

  .menu.menu-open .links {
    opacity: 1;
  }
}
