.button {
  display: block;
  padding: 20px;

  font-size: 20px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  color: white;

  transition: background-color 1s;
}
