.section__contactUs {
  display: flex;
}

.contactUs {
  position: column;
  // max-width: 730px;
  color: #454646;
  text-align: center;
  // margin: 80px 0 70px;
  margin: 50px auto;

  &__text {
    max-width: 730px;
  }

  &__button {
    margin: 45px auto 25px;
    width: 290px;

    border-bottom: 10px solid #bb8e5b;

    background: #e1aa6e;

    &:hover {
      color: black;
      background-color: #bb8e5b;
    }
  }
}
