.contactUs {
  max-width: 730px;
  color: $text-color;
  text-align: center;
  margin: 50px auto;

  &__text {
    max-width: 730px;
  }

  &__heading {
    padding-bottom: 20px;
  }

  &__button {
    margin: 45px auto 25px;
    width: 290px;

    border-bottom: 10px solid $button-darker;

    background: $button-light;

    &:hover {
      color: $black-color;
      background-color: $button-darker;
    }
  }
}

@media screen and (max-width: $ipad-screen-breakpoint) {
  .contactUs {
    max-width: 300px;
    &__heading {
      padding-bottom: 30px;
    }

    &__text {
      text-align: justify;
    }
  }
}
