@import "./vars";
@import "./mixins";

.footer {
  display: flex;
  flex-direction: column;
  min-height: 405px;
  margin-top: 60px;
  font-size: 16px;
  text-align: center;
  border-top: 2px solid $footer-border-color;
  background-color: $footer-background-color;
  color: $text-color;

  &__navigation {
    justify-content: center;
    margin: 50px 0;
  }

  &__links {
    justify-content: center;
  }

  &__img {
    margin: 0 30px 50px;
    @include hover(transform, scale(1.25));
  }

  &__contacts {
    margin-bottom: 50px;
  }

  &__address,
  &__phone {
    color: $text-color;
    text-decoration: none;
    transition: color 0.5s;

    &:hover {
      color: #9d9e9e;
    }
  }

  &__email {
    font-size: 18px;
    color: $email-color;
    text-decoration: none;
    transition: color 0.5s;

    &:hover {
      color: $button-darker;
    }
  }

  &__copyright {
    padding-top: 50px;
    margin-bottom: 50px;
    border-top: 1px solid $footer-border-color;
  }
}

@media screen and (max-width: $ipad-screen-breakpoint) {
  .footer {
    &__navigation {
      justify-content: center;
      margin-right: 0;
      margin-left: 0;
    }
  }
}

@media screen and (max-width: $iphone-screen-breakpoint) {
  .footer {
    &__copyright {
      max-width: 320px;
    }
  }
}
