.header {

  &__top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 110px;
    margin-bottom: 45px;
    background: $main-background-color;
    transition: top 0.2s ease-in-out;
  }
}

.nav-up {
  top: -40px;
}
