.hero {
  background: url("../images/heroPhoto.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  color: $white-color;
  padding: 460px 50px 130px;

  &__heading {
    font-size: 40px;
  }

  &__mainWord {
    font-size: 40px;
    padding-bottom: 20px;
    border-bottom: 3px solid $main-background-color;
    border-radius: 2px;
  }

  &__text {
    padding-top: 30px;
    max-width: 400px;
  }

  &__button {
    margin-top: 45px;
    max-width: 290px;
    border-bottom: 10px solid $button-darker;

    background: $button-light;

    &:hover {
      color: black;
      background-color: $button-darker;
    }
  }
}

@media screen and (max-width: $ipad-screen-breakpoint) {
  .hero {
    padding-top: 535px;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 320px) {
  .hero {
    padding-top: 350px;
    padding-left: 20px;

    &__text {
      font-size: 14px;
    }

    &__heading {
      font-size: 24px;
    }

    &__mainWord {
      font-size: 24px;
    }

    &__button {
      margin-top: 10px;
    }
  }
}
