.join {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__picture {
    flex-basis: 50%;
    max-width: 50%;
    object-fit: cover;
  }

  &__information {
    background: $info-text-color;
    background-size: cover;
    flex-basis: 50%;
    max-width: 50%;
    padding-top: 40px;
    padding-left: 30px;
    color: $white-color;
  }

  &__quote {
    font-size: 18px;
    font-style: italic;
  }

  &__heading {
    font-size: 40px;
  }

  &__text {
    width: 460px;
    text-align: justify;
  }

  &__button {
    margin-top: 45px;
    margin-bottom: 40px;
    width: 290px;

    border-bottom: 10px solid $button-blue;

    background: $main-background-color;

    &:hover {
      color: black;
      background-color: $button-blue;
    }
  }
}

@media screen and (max-width: $analog-screen-breakpoint) {
  .join {
    display: flex;
    flex-direction: column;

    &__picture {
      flex-basis: 100%;
      max-width: 100%;
      object-fit: cover;
    }

    &__information {
      display: flex;
      flex-direction: column;
      background: $analog-background-color;
      background-size: cover;
      flex-basis: 100%;
      max-width: 100%;
      padding-top: 20px;
      padding-left: 30px;
      color: $white-color;

    }

    &__heading,
    &__quote,
    &__text {
      margin: 0 auto;
      padding-top: 0;
      padding-bottom: 20px;
    }

    &__button {
      margin: 0 auto 20px;
      padding-bottom: 20px;
    }
  }
}

@media screen and (max-width: $ipad-screen-breakpoint) {
  .join {

    &__information {
      padding: 0;
    }

    &__quote {
      padding: 10px 30px;
      text-align: center;
      max-width: 300px;
    }

    &__text {
      max-width: 300px;
      padding: 10px;
    }
  }
}

@media screen and (max-width: $iphone-screen-breakpoint) {
  .join {

    &__information {
      max-width: 320px;
      padding: 0;
    }

    &__quote {
      padding: 10px 30px;
      text-align: center;
    }

    &__text {
      display: none;
      max-width: 300px;
      padding: 10px;
    }
  }
}
