.navigation {
  display: flex;
  text-align: center;
  text-transform: uppercase;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    display: inline-block;
  }

  &__link {
    color: $text-color;
    position: relative;
    margin: 0 40px;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      color: $info-text-color;
      transition: color 0.5s;
    }

    &::after {
      display: block;
      position: absolute;
      bottom: -25px;
      left: 10px;
      width: 0;
      height: 2px;
      content: "";
      background-color: $info-text-color;
      transition: width 0.3s ease-out;
    }

    &:hover::after {
      width: calc(100% - 2 * #{10px});
    }
  }
}

@media screen and (max-width: $ipad-screen-breakpoint) {
  .navigation {
    &__link {
      margin: 10px;
      margin-right: 4px;
      margin-left: 4px;
    }

    &__copyright {
      max-width: 100%;
    }
  }
}
