.partners {
  &__pictures {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__picture {
    width: 10vw;
    max-width: 150px;
    padding: 0;
    margin: 30px auto;
  }
}

@media screen and (max-width: $ipad-screen-breakpoint) {
  .partners {
    &__pictures {
      flex-wrap: wrap;
    }

    &__picture {
      width: calc(100% / 3);
      min-width: 80px;
      max-width: 200px;
      padding: 5px;

    }
  }
}

@media screen and (max-width: $iphone-screen-breakpoint) {
  .partners {
    &__picture {
      width: calc(100% / 2);
      min-width: 100px;
    }
  }
}
